<div class="wrapper">
    <div class="sidebar">
        <h2><i class="bi bi-list menu-icon"></i></h2>
        <ul>
            <li><a href="#"><i class="bi bi-box"></i></a></li>
            <li><a href="#"><i class="bi bi-bar-chart"></i></a></li>
            <li><a href="#"><i class="bi bi-plus-square"></i></a></li>
            <li><a href="#"><i class="bi bi-check-square"></i></a></li>
            <li><a href="#"><i class="bi bi-gear"></i></a></li>
            <li><a href="#"><i class="bi bi-download"></i></a></li>
        </ul> 
        
    </div>

    <div class="main_content">
      <div class="row">
        <div class="col-md-7">
         <button class="search-button"><i class="bi bi-search"></i></button> <input placeholder="Search" type="text" class="search-box">
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2 mt-3">
              Eng
            </div>
            <div class="col-md-1 mt-3">
              <i class="bi bi-chat-right-text"></i>
            </div>
            <div class="col-md-1 mt-3">
              <i class="bi bi-bell"></i>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-2">
                  <img src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250" alt="Avatar"/>
                </div>
                <div class="col-md-10 mt-3">
                  Camille Stevenson
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <app-dashboard></app-dashboard>

    </div>

</div>