
.top-card-main-div{
    background-color:white;
    height:120px; 
    width: 260px; 
    margin: 10px
}

.margin-left-6per{
    margin-left: 6%;
}

.percentage{
    font-size: 31px; 
    color:#506de2
}

.card-text{
    color:#666879 
}

.card-text-2{
    color:#666879; 
    font-size:11px
}

.card-icon{
    margin-left: 5%; 
    font-size: 35px; 
    color:#666879
}
